#header ._7fk {
	display:none;
}
#mJewelNav {
	display:none;
}
#apptitle {
	color: #eceff5;
	font-size: x-large;
	font-weight: bold;
	vertical-align: middle;
	height:30px;
	position:absolute;
	top:5px;
	left:10px;
	padding:10px;
	z-index:1000;
}
#apptitle a {
	color: #eceff5;
}
#customstats {
	border:none;
	opacity:0;
	top:0;
	position:absolute;
	z-index:-1000;
}
#header {
	position:fixed;
	/*margin-top:-45px;*/
}
#root {
	margin-top:43px;
}